body {
    padding: 0;
    margin: 0;
}

.time {
    margin: 40px 0 40px 15px;
    font-size: 35px;
    letter-spacing: 0.1em;
}

.colon {
    font-size: 20px;
}

.watchButton {
    padding: 12px 15px;
    font-weight: 700;
}